:root {
  --neon-pink: #ff69b4;
  --neon-red: #ff3131;
  --neon-brown: #8b4513;
  --bg-color: #000;
  --text-color: #fff;
}

.app {
  scroll-behavior: smooth;
  background-color: var(--bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
  color: var(--text-color);
  text-shadow: 0 0 5px var(--text-color),
               0 0 10px var(--neon-pink),
               0 0 20px var(--neon-pink);
}